
  @import
 url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
 @import url('https://fonts.cdnfonts.com/css/catamaran');
 @import 'react-notifications-component/dist/theme.css';
@import url('https://fonts.cdnfonts.com/css/poppins');
@import "~video-react/styles/scss/video-react"; 

*{
    margin-top: 0;
    padding: 0;
  }
  .App {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #LP{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  #LP1{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    margin-right: 70px;
  }
  #LP11{
    margin-top: -25px;
    color: #06339c;
    font-weight: bold;
   
  }
  #DLR{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  #DD{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  #ID{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  #RD{
    color: #06339c;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  #stps{
    float: left;
  }
  #steps{
  float: left;
  width:100%;
  text-align: left;
  font-weight: 600;
  margin-left: 15px;
  font-size: 17px;
  }
  #docs{
    float: left;
    width:100%;
    text-align: left;
    font-weight: 600;
    margin-left: 15px;
    font-size: 17px;
    
    }
    #game{
      float: left;
      width:100%;
      border: solid 2px;
      }
      #ins{
        float: left;
      }
      #insinfo{
        float: left;
        text-align: left;
        font-weight: 600;
        font-size: px;
      }
    #carimg{
      width:70%;
      height:80%;
      float: left;
      margin-left: 14%;
      margin-top: 5%;


    }
  #navbarScrollingDropdown{
    color: white;
  }
  
  #gameinfo{
    float: left;

  }
  

  #menu{
   
    float: left;
    margin-right: 15px;
    font-weight: bold;
    
  }
  #infoL{
  float: left;
  border-top:none ;
  border-bottom: none;
  border-left: none;
  border-right: solid 2px gray;
  }
  
  
  #footer{
     float: left;
    background-color:#360568;
  margin-top: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .clear { clear: both; height: 100px; }
  
  #banner{
  background-image: url(./Components/Images/WhiteBanner.png);
  background-size: cover;
  height: 650px;
  }
  #rS:hover{
    color: #4589ff;
  }
  #rS{
    text-decoration: underline;
    color: #4589ff;
  }
  .HomeDiv{
    height: 1300px;
  }
 
  #images{
    width:35px;
    height:35px;
    margin-top: 10px;
    float: right;
    margin-right: 8px;
  
  } 
  
  #cp{
    float: left;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    font-weight: lighter;
  }
  #form{
    background-color: rgb(73, 71, 71);
    float: left;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 110px;
  height: 40px;
  margin-left: 15px;
  }
  #formpic{
    width: 23px;
    height: 23px;
    float: left;
  }
  #abs{
    color: white;
    cursor: pointer;
  }
  #tls{
    margin-left: 15px;
    font-weight: lighter;
    color: black;
    cursor: pointer;
  }
  #infoR{
    float: left;
    }
  .vl {
    border-left: 2px solid white;
    height: 50px;
    margin-right: 25px;
  }
  #bg{
    width: 100%;
  }

 
  #hmenu{
    background-color:#360568;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  height: 100px;
  margin-top: 20%;
  margin-right: 35px;
  border-radius: 5px;

  }
 
  #hnavbarScrollingDropdown{
    margin-top: 25px;
    color: white;
    font-weight: bold;
  }
#habs{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 35px;
  cursor: pointer;
}
#gamebtn{
    background-color: rgb(34, 35, 145);
    color: black;
    font-weight: bold;
    border-radius: 15px;
    width: 150px;
  height: 50px;
  margin-top: 3%;
margin-bottom: 3%;
margin-right:5%
  

}
#bg{
  background-color: #360568;
   height: 200px;
   
}
  #mainmenu{
    margin-top: 100px;
    width: 100%;
  }
  #warsign{
    width: 125px;
    height: 125px;
  }
  #infosign{
    width: 15px;
    height: 15px;
   
  }
  #txt{
    border: solid;
    float: right;
    margin-left: 200px;
  }
  #light{
    margin-top: 1%;
    float: left;
    margin-left: 30px;
  }
  #BtnQuiz{
    margin-top: 6%;
    float: right;
    margin-right: 50px;
    background-color: #363c4a;
  }
  #divs{
   filter: drop-shadow(-6px 15px 15px rgba(15, 15, 0, 0.7));
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #div1{
  background-color: #360568;
  color: white;
  float: left;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  width:380px;
  height: 300px;
  margin-right: 60px;
  border-radius: 5px;
  }
  #div1:hover{
    background-color:#4589ff;
    color: black;
    cursor: pointer;
  }
  #div2{
    background-color: #360568;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    width:430px;
    color: white;
    height: 300px;
    float: left;
    margin-right: 60px;
    border-radius: 5px;
    }
    #div2:hover{
      background-color: #4589ff;
      color: black;
      cursor: pointer;
    }
    
    #div3{
      background-color: #360568;;
      float: left;
      color: white;
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
      width:380px;
      height: 300px;
      border-radius: 5px;
    }
    #div3:hover{
      background-color: #4589ff ;
      color: black;
      cursor: pointer;
    }
    
    @media(max-width: 800px){
      #div1{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 220px;
        width: 300px;
        margin-bottom: 20px;
        margin-left: 20%;
        border-radius: 5px;
      }
      #div2{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 220px;
        width: 300px;
        margin-bottom: 20px;
        margin-left: 20%;
        border-radius: 5px;
      }
      #div3{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 220px;
        width: 300px;
        margin-bottom: 20px;
        margin-left: 20%;
        border-radius: 5px;
      }
      #infocontainer{
        margin-top: 20px;
      }
      #LP{
        margin-top: 60px;
      }
      #DLR{
        margin-top: 60px;
      }
      #DD{
        margin-top: 60px;
      }
      #ID{
        margin-top: 60px;
     }
      #RD{
        margin-top: 60px
      }
      #navbarScrollingDropdown{
        color: black;
      }
     
      #bg{
        width:fit-content;
      }
      .vl{
        border-left: 0px;
        height: 0px;
        margin-right: 0px;
      }
      #menu{
        text-align: left;
      
      }
      #abs{
        color: black;
      }
      #mainmenu{
        margin-top: 25%;
        width: fit-content;
        width: 100%;
      }
      #hmenu{
        background-color:white;
        overflow:h
      }
      #hnavbarScrollingDropdown{
        color:black;
        float: left;
      }
      #habs{
        color: black;
        float: left;
      }
     
  #banner{
    background-image: url(./Components/Images/WhiteBanner.png);
    background-size: cover;
    height: 200px;
  }
    #img1{
      width: 300px;
      height: 80px;
      margin-top: 10px; 
      margin-right: 55px; 
     }
     #img2{
      width: 100px;
      height: 80px;
      margin-top: 80px; 
     }
     #img3{
      width: 70px;
      height: 70px;
      margin-top: 10px; 
      margin-left: 30px; 
     }
     #info1{
      float: left;
      margin-left: 7s5px;
     }
    
     #info2{
      margin-right: 25px;
     }
     #info2o1{
      margin-top: 10px;
      margin-right: 35px;
     }
     #info3{
      margin-left: 20px;
      margin-top: 2px;
     }
     
     #hmenu{
      height:40px;
      margin-top: 0%;
    
      }
    
    }
  
   #img1{
    width: 100px;
    height: 80px;
    margin-top: 80px; 
    margin-right: 55px; 
   }
   #img11{
    width: 100px;
    height: 80px;
    margin-top: 80px; 
    margin-right: 80px; 
   }
   #img2{
    width: 100px;
    height: 80px;
    margin-top: 80px; 
   }
   #img3{
    width: 70px;
    height: 70px;
    margin-top: 90px; 
    margin-left: 30px; 
   }
   #info1{
    float: left;
    margin-left: 55px;
   }
   #info1o1{
    margin-top:25px ;
    margin-right: 135px;
   }
   #info2{
    margin-right: 25px;
   }
   #info2o1{
    margin-top: 10px;
    margin-right: 35px;
   }
   #info3{
    margin-left: 20px;
    margin-top: 2px;
   }
   #info3o1{
    margin-top: 10px;
    margin-left: 20px;
   }
  
  
  .mulDrop{
    position:absolute;
    left: 110px;
    background-color: white;
    top: 1px;
    border: solid lightgray 1px;
    border-radius: 5px;
  }
  .border{
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar.navbar-default {
    border-bottom: 0;
  }
  
  
  
  
  
  
  .question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
   
    padding: 16px;
    border-radius: 16px;
    
  }
  
  ul {
    list-style:circle;
    
  }
  
  li {
    margin-top: 80px;
    float: right;
    margin-right: 50px;
    width: 400px;
    border-radius: 20px;
    font-size: 20px;
  }
  

  //Hussains css
  body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app {
    background-color: white;
    width: 1200px;
    min-height: 600px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
 border: solid black 3px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: black;

    margin-right: 300px;
  }
  .quizDiv{
    pointer-events: none;
    filter: blur(2px);
  -webkit-filter: blur(2px);
  }

  .quizLan{
    background-color: #4589ff;
    display: inline-block;
    width: 500px;
    height: 300px;
   
    position: absolute;
    top: 210px;
    right: 450px;
    border-radius: 10px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

  }
  .quizLan1{
    background-color: white;
    display: inline-block;
    width: 600px;
    height: 500px;
   padding-left: 100px;
    position: absolute;
    top: 240px;
    right: 380px;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

  }
  .cross{
    margin-left: 450px;
    margin-top: -40px;
    width: 100px;
    height: 40px;
  }
  .cross22{
    margin-left: 450px;
    margin-top: -40px;
    width: 100px;
    height: 40px;
  }
  .croos2{
    margin-left: 1200px;
    position: absolute;
    margin-top: -45px;
    width: 100px;
    height: 40px;
   
  }
  .bb{
    color: white;
    margin-top: -10px;
    font-size: xx-large;
  }
  .quizUB{
 margin-top: 20px;
 margin-right: 110px;
  }
  .quizEB{
    
    margin-right: 110px;
     }
  .EB{
    width: 180px;
    height: 60px;
  }
  
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 1000px;
    position: absolute;
  }
  
  .question-count {
    margin-bottom: 20px;
    margin-left: 50px;
    color: black;
  }
  
  .question-count span {
    font-size: 28px;
    
  }
  
  .question-text {
    margin-bottom: 12px;
    margin-left: 25px;
    font-size: 40px;
    color: black;
  }
  
  .timer-text {
    position: absolute;

    width: 150px;
    height: 50px;
    padding: 15px;
    margin-top: 10px;
    margin-right: 500px;
    
    
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 1400px;
    display: block;
    margin-left: 120px;
    margin-top: 250px;

    justify-content: space-between;
    
  }
  
  .button{
    width: 35%;
    height: 80px;
    border: 0ch;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: black;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    background-color: white;
    cursor: pointer;

  }
  
  
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }
  .option{
    width: 35%;
    height: 80px;
    border: 0ch;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 30px;
    color: black;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    background-color: black;
    cursor: pointer;
  }
  .btn{
    width: 35%;
    height: 80px;
    border: 0ch;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: black;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  }
  .nextBtn{
    margin-top: 450px;
    margin-right: 60px;
    width: 100px;
  }
  .date{
    margin-top: 100px;
    width: 200px;
}
.time{
    width: 200px;
    margin-top: 100px;
}
.shareRide1{
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;
}
  @media (max-width: 800px) {
    .shareRide1{
      display: block;
      justify-content: center;
  }
  .area{
    width: 210px;
    margin-top: 100px;
}
  }
  .MenuItem{
    width: 170px;
    display: block;
  }
.area{
    width: 170px;
    margin-top: 100px;
}
.area1{
  width: 210px;
  margin-top: 100px;
}
.needFeild{
  width: 170px;
    margin-top: 100px;
}
.shareRide2{
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 60px;
}
@media (max-width: 800px) {
  .shareRide2{
    display: block;
    justify-content: center;
}
.area{
  width: 210px;
  margin-top: 100px;
}
}
.shareRide{
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.4);
   margin-bottom: 200px;
  
  
}

#needridee{

  margin-left:69px;
    margin-right: 70px;
}
.needRide{
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.3);
   margin-bottom: 200px;
   border-radius: 10px;
   padding-top: 8px;
   font-weight: bold;
   font-size: xx-large;
   
}
.ResultRide{
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid black;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.3);
 margin-bottom: 200px;
 border-radius: 10px;
 padding-top: 8px;
 
}
.thead{
  font-weight: bold;
  font-size: large;
}
.tbody{
  font-size: large;
}

.search{
     display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
}
@media (max-width: 800px) {
  .search{
    display: block;
    margin-left: 80px;
    margin-right: 150px;
  }
}

.submit{
  margin-top: 40px;
}
.submitB{
  width: 160px;
}
.submitLoad{
  margin-top: 40px;
  width: 70px;
}
.submitN{
   margin-top: 110px;
   margin-left: 20px;
}
.searchButton{
    display: flex;
    width: 150px;    
}
  .pupose{
    margin-top: 15px;
  }
  .sel{
    height: 40px;
    width: 400px;
  }
  .ASB{
    margin-top: 20px;
    margin-left: 200px;
  }
 .AbSubmit{
  width: 150px;
 }
 .LB{
  width: 150px;
 }
  .AbLoad{
    position: absolute;
    margin-top: 20px;
    margin-left: 200px;
  }
  
 .lanButton{
  position: absolute;
  margin-top: 90px;
  margin-left: 1180px;
 }
 .urduB{
  width: 100px;
  position: absolute;
 }
 .englishB{
  width: 100px;
  
 }
 .LSdiv{
  margin-left: 50px;
 }
 .LButton{
  margin-top: 10px;
  margin-left: 180px;
 }
 
 .infoButton{
  margin-top: 340px;
  margin-left: 800px;

 }
 .infoB{
  width: 300px;
  height: 80px;
  
 
 }
 .HM{
  margin-top: 140px;
  z-index: 1;
  bottom: 0px;
  left: 50px;

 }
 .aheader{
  width: 1348px;
  
 
 }
 .a1header{
  width: 1348px;
  height: 260px;
  
 }
 .center_div{
  
  margin-top: -70px;
  display: grid;
  place-items: center;
}
.learn{
  color: #4589ff;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: 200px;
  left: 480px;

}
.learnn{
  color: #4589ff;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: 200px;
  left: 480px;

}
.learn::before{
  content: "LEARN";
  width: 0%;
  color: #360568;
  position: absolute;
  top: 0;
  animation: slide 5s linear ;
  -webkit-animation: slide 5s linear ;
  overflow: hidden;
}
.learnn::before{
  content: "سیکھیں";
  width: 0%;
  color: #360568;
  position: absolute;
  top: 0;
  animation: slide 5s linear ;
  -webkit-animation: slide 5s linear ;
  overflow: hidden;
}
.learnM{
  color: #360568;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: 200px;
  left: 490px;
  text-align: justify;

}
.learnN{
  color: #360568;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: 200px;
  left: 480px;
  text-align: justify;

}
@keyframes slide{
  0%{
    width: 0%;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}
.homeText{
  text-align: justify;
  margin-left: 20px;
  margin-right: 25px;
  font-size: large;
}
.homeText1{
  text-align: justify;
  margin-top: 360px;
  margin-left: 20px;
  margin-right: 25px;
  font-size: large;
}
.over{
  text-align: center;
  color: #360568;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.apButton{
  position: absolute;
  margin-top: 670px;
  margin-left: 1000px;
  z-index: 3;
}
.aButton{
  width: 250px;
  height: 70px;
}
.centerTable{
  width: 100%;
  
}
.headerTable{
 
 width: 100%;
}
.playagainB{
  margin-top: 100px;
  margin-left: -200px;
}

.playagainT{
  margin-left: 0px;

}
.tableee{
  margin-top: 30px;
  width: 750px;
}
.tableeR{
  margin-top: 30px;
  width: 700px;
}
.needRideHeader{

  width: 100%;
}
.multiDrop{
  width: 180px;
}
.impDiv{
  margin-top: 150px;
}
.Wtext{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
#footer{
  float: left;
 background-color:#360568;
margin-top: 30px;
 bottom: 0;
 left: 0;
 width: 100%;
}
#footermaindiv{
 height: 250px;

 float: left;
 width: 50%;
 margin-left: -19px;
}
#footerhead{
 float: left;
 margin-top: 50px;
 margin-left: 5px;
 color: white;
}
#footerdata{
 float: left;
 margin-top: 0.3%;
 margin-left: 14%;
 text-align: left;
 color: white;
 text-align: justify;
 font-family: sans-serif;
 font-weight: 10;
}
#dforms:hover{
  color: #06339c;
  cursor:pointer;
}
#dforms{
  color: white;
  margin-left: 70px;
  text-decoration: underline;
  text-align: justify;

}
.v1{
  margin-top: -320px;
  margin-left: 20px;
  width: 650px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
}
.v2{
  width: 650px;
  margin-left: 680px;
  margin-top: -420px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
}
.v3{
  margin-top: -340px;
  margin-left: 20px;
  width: 650px;
  border-radius: 5px;
}
.v4{
  width: 650px;
  margin-left: 680px;
  margin-top: -390px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
}
.v5{
  margin-top: -400px;
  margin-left: 20px;
  width: 650px;
  border-radius: 5px;
}
.click{
  cursor: pointer;
}
.anitext1{
  margin-left: 680px;
 margin-top: 70px;
 width: 650px;
 text-align: justify;
}
.anitext2{
  margin-right: 500px;
  margin-left: 20px;
 margin-top: 80px;
 width: 650px;
 text-align: justify;
}
.anitext3{
  margin-left: 680px;
 margin-top: 105px;
 width: 650px;
 text-align: justify;
}
.anitext5{
  margin-left: 680px;
 margin-top: 105px;
 width: 650px;
 text-align: justify;
}
.aniH{
  font-weight: bold;
}
.infotext{
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.aboutUs{
  height: 500px;
  margin-top: -525px;
  padding-left: 70px;
  margin-bottom: 30px;
  margin-left: 750px;
  padding-top: 15px;
  width: 550px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.4);
}
.aboutUs1{
  height: 500px;
  margin-top: 10px;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 20px;
  
}
.cbb{
  margin-bottom: 30px;

}
#fo{
  margin-top: 30px;
}